*.class
*.DS_store
.classpath
.project
.metadata
.settings
.settings/*
bin
/target
*/target/*
*.log
.idea/*
*.iml
core/build/*
core/out/*
classes/
build/
.gradle/*
.kotlin/
.kotlin/metadata/kotlinCInteropLibraries/*
kotlin-js-store/

KenginePlaydate/Source/libkengine_playdate.a
KenginePlaydate/Source/libkengine_playdate.dylib

*.hprof


sdl3/*/build/
sdl3/SDL/*